.apresentaçao{
   display: flex;
   grid-template-columns: 1fr 2fr;
}

.subtitulo-apresentaçao{
   text-transform: capitalize;
   margin-left: 5rem;
   margin-top: 5rem;
}

.apresentaçao-subtitulo{
   margin-left: 2rem;
   margin-top: 4rem;
}

.apresentaçao-foto-perfil{   
   display: block;
   margin:3rem 5rem;   
}

@media (max-width: 900px){
   .apresentaçao{
      display:inline-block;
   }
   .apresentaçao-foto-perfil{
      display: flex;
      max-width: 50%;
      margin-left: 7rem;           
   }

   .apresentaçao-subtitulo p{
      display: block;
      flex-direction: column;
      
   }
}