.apresentaçao{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.subtitulo-apresentaçao{
   text-transform: capitalize;
   margin-left: 5rem;
   margin-top: 5rem;
}

.div-apresentacao{ 
   display: inline;
   position: relative;
   position: relative;
   
   position: relative;   
   
}

.apresentaçao-subtitulo{   
   position: relative;   
   margin-top: 2rem;
   font-family: "Poppins", sans-serif;   
   color: #3D1D1D;
   font-size: 3rem;   
   font-weight: 600;
   line-height: 4.5rem;
   line-height: 4.5rem;
   letter-spacing: 1px;
   line-height: 4.5rem;   
   letter-spacing: 1px;
   word-wrap: break-word;
   text-align: end;
   margin-right: 2rem;
}

.apresentaçao-subtitulo::before{
   content: "";
   position: absolute;
   display:inline-block;
   width: 3rem;
   height: 0.5rem;
   border-radius: 0.2rem;
   background-color: #987c7c;
   top: 0.5rem;   
   z-index: -1; 
}

.apresentacao-texto{
   font-family: "Montserrat", sans-serif;
   color: #100505;
   width: 36.5rem;
   height: 24rem;
   font-size: 1rem;
   line-height: 2rem;
   font-weight: 400;
   margin-right: 2rem;
}

.apresentaçao-foto-perfil{   
   display: block;
   margin:3rem 5rem;   
}

span {
  color: #3d1d1d;
  font-weight: 700;
}

