.banner{
   max-width: 1200px;
}

.banner-titulo{
   display: grid;
   grid-template-columns: 2fr 1fr;
   
}

.banner-titulo-principal::before{
   content: "";
   display: block;
   background: #664444;
   opacity: 15%;
   width: 97%;
   height: 2.5px;
   position: absolute;
   border-radius: 5px;
   top: 3rem;
   left: 1rem;
}

.banner-titulo-principal{      
   display: flex;   
   font-family: Poppins;
   color: #3d1d1d;
   font-weight: 500;
   font-size: 2rem;
   text-transform: capitalize;
   margin-top: 9rem;
   margin-left: 9rem;
}

.banner-subtitulo-principal{
   font-family: Montserrat; 
   font-weight: 500;
   font-size: 1rem;
   letter-spacing: 1px;
   text-transform: capitalize;
   margin-left: 10rem;   
}

.banner-logomarca-flor {
   position:relative;
   grid-column: 2;
   grid-row: 1;
   margin-top: 2rem;
}

