.contatos-div{
   display: grid;
   grid-template-columns: 1fr 1fr;
   position: relative;
   gap: 5rem; 
}

.contatos-div::before{
   content:"";
   position: absolute;    
   width: 56rem;
   height: 0.2rem;
   background-color: #FFEAE5;
   border-radius: 5px;   
   justify-self: end;
}

.titulo-contatos{   
   width: 25rem;      
   font: 700 6rem/9rem "Poppins", sans-serif;   
   text-transform: uppercase;   
   color: #F2BBBB;
   margin: 1rem 0 0 0;
   word-wrap: break-word;   
   position: relative;       
}

.redes {
   position: relative;   
   display: flex; 
   flex-direction: row;   
   gap: 2rem;
   justify-content: center;
   margin-top: 15rem;
}

.contatos img{
   max-width: 100%;    
}
