@import url(apresentação.css);
@import url(contato.css);
@import url(footer.css);
@import url(header.css);
@import url(formação.css);

.container{
   max-width: 90rem;
   margin: 5rem 6rem 5rem 6rem;   
}

body{
   display: grid;
   margin: 0px;
   background-color: #333333;
}

body, h1, h2, h3, p {
   margin: 0px;    
   padding: 0px;  
}

span {
   color: #B25959;  
}

@keyframes slideDown {
   from {
     opacity: 0;
     max-height: 0;
   }
   to {
     max-height: 200px;
     opacity: 1;
   }
 }

.js-scroll {
   opacity: 0;
   transform: translate3d(-30px, 0, 0);
   transition: .3s;
}
 
.js-scroll.ativo {
   opacity: 1;
   transform: translate3d(0, 0, 0);
}